<div class="admin-requests-container">
  <div class="admin-requests-head">Account Requests</div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Name</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.firstName }} {{ user.lastName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="relationshipName">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Parent Name</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.RelationshipPersonsName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="relationshipNumber">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">
        Parent Number
      </th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.RelationshipPersonsMobileNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="relationship">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Relation</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.relationship }}
      </td>
    </ng-container>
    <ng-container matColumnDef="aadhaar">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Aadhar</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.aadhar }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Email</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">DOB</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.dateofbirth }}
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Address</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.address }}
      </td>
    </ng-container>
    <ng-container matColumnDef="branchcode">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Branch Code</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        {{ user.branchCode }}
      </td>
    </ng-container>
    <ng-container matColumnDef="approval">
      <th mat-header-cell *matHeaderCellDef class="brand-logo">Approve</th>
      <td mat-cell *matCellDef="let user" class="table-content">
        <div class="approval-cell">
          <div class="approval-option" (click)="approveUser(user.id)">
            <i class="material-icons" style="color: rgb(12, 113, 12)">check</i>
          </div>
          <div class="approval-option" (click)="openDialog(user.id)">
            <i class="material-icons" style="color: rgb(182, 20, 20)">cancel</i>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="unapprovedUsers.length"
    [pageSize]="3"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
