<div class="admin-profile-container">
    <div class="admin-profile-head">Profile Details</div>
    <div class="admin-profile-details">
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Name :</div>
            <div class="admin-profile-detail-content">{{users.firstName}} {{users.middleName}} {{users.lastName}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Date of Birth :</div> 
            <div class="admin-profile-detail-content">{{users.dateofbirth}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Aadhar Number :</div>
            <div class="admin-profile-detail-content">{{users.aadhar}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Gender :</div>
            <div class="admin-profile-detail-content">{{users.gender}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Branch Name :</div>
            <div class="admin-profile-detail-content">{{users.branchName}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Branch Code :</div>
            <div class="admin-profile-detail-content">{{users.branchCode}}</div>
        </div>
        <div class="admin-profile-detail">
            <div class="admin-profile-detail-head">Address :</div>
            <div class="admin-profile-detail-content">{{users.address}}</div>
        </div>
    </div>
</div>